# Project

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [40]:
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')

In [41]:
df.shape

(110527, 14)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [43]:
df.head(3)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No

In [97]:
df.describe()

,patient_id,appointment_id,age,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921700e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [77]:
df.nunique()

patient_id          62299
appointment_id     110527
gender                  2
scheduled_day      103549
appointment_day        27
age                   104
neighborhood           81
scholarship             2
hypertension            2
diabetes                2
alcoholism              2
handcap                 5
sms_received            2
no_show                 2
dtype: int64

In [108]:
df.dtypes

patient_id                       int64
appointment_id                   int64
gender                        category
scheduled_day      datetime64[ns, UTC]
appointment_day    datetime64[ns, UTC]
age                              int64
neighborhood                    object
scholarship                      int64
hypertension                     int64
diabetes                         int64
alcoholism                       int64
handicap                         int64
sms_received                     int64
no_show                         object
dtype: object

In [109]:
# Checking the actual data types of the ones still marked as object:

print('neighborhood: ' + str(type(df['neighborhood'][0])))
print('no_show: ' + str(type(df['no_show'][0])))

neighborhood: <class 'str'>
no_show: <class 'str'>

In [46]:
sum(df.duplicated())

0

In [48]:
# Fixing the column names
df.rename(columns=lambda x: x.strip().lower().replace("-", "_"), inplace=True)

In [76]:
# Checking the column names
df.head(1)

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighborhood,scholarship,hypertension,diabetes,alcoholism,handcap,sms_received,no_show
0,29872499824296,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [91]:
# Fixing the column names some more
df.rename(columns={"patientid": "patient_id", "appointmentid": "appointment_id", "scheduledday": "scheduled_day", "appointmentday": "appointment_day", "neighbourhood": "neighborhood", "hipertension": "hypertension", "handcap": "handicap"},inplace=True)

In [122]:
# Changing the data type for 'no-show' to boolean with applied mapping
mapping = {'Yes': True, 'No': False}
df['no_show'] = df['no_show'].map(mapping)

In [141]:
# Changing the type for multiple parameters to boolean
columns_01 = ['scholarship', 'hypertension', 'diabetes', 'alcoholism', 'sms_received']
mapping = {0: False, 1: True}
for x in columns_01:
    df[x] = df[x].map(mapping)

In [143]:
# Checking that the columns now are boolean
df.dtypes

patient_id                       int64
appointment_id                   int64
gender                        category
scheduled_day      datetime64[ns, UTC]
appointment_day    datetime64[ns, UTC]
age                              int64
neighborhood                    object
scholarship                       bool
hypertension                      bool
diabetes                          bool
alcoholism                        bool
handicap                         int64
sms_received                      bool
no_show                           bool
dtype: object

In [68]:
type(df['patient_id'][0])

numpy.float64

In [89]:
# Changing the data type to 'integer' for column 'patient_id'
df['patient_id'] = df['patient_id'].astype(np.int64)

In [92]:
df.dtypes

patient_id                       int64
appointment_id                   int64
gender                        category
scheduled_day      datetime64[ns, UTC]
appointment_day    datetime64[ns, UTC]
age                              int64
neighborhood                    object
scholarship                      int64
hypertension                     int64
diabetes                         int64
alcoholism                       int64
handicap                         int64
sms_received                     int64
no_show                         object
dtype: object

In [87]:
# Changing the data type to 'category' for column 'gender'
df['gender'] = df['gender'].astype('category')

In [88]:
# Changing the data type to 'datetime' for columns 'scheduled_day' and 'appointment_day'
df['scheduled_day'] = pd.to_datetime(df['scheduled_day'])
df['appointment_day'] = pd.to_datetime(df['appointment_day'])

In [117]:
df.groupby('no_show').count()

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighborhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received
no_show,,,,,,,,,,,,,
No,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208
Yes,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319

In [123]:
df.dtypes

patient_id                       int64
appointment_id                   int64
gender                        category
scheduled_day      datetime64[ns, UTC]
appointment_day    datetime64[ns, UTC]
age                              int64
neighborhood                    object
scholarship                      int64
hypertension                     int64
diabetes                         int64
alcoholism                       int64
handicap                         int64
sms_received                     int64
no_show                           bool
dtype: object